<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <title>Document</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="">home</a></li>
            <li><a href="">characters</a></li>
            <li><a href="">maps</a></li>
        </ul>
    </nav>
</header>
