/*--- algemeen ---*/
html, body {
    box-sizing: border-box;
    color: var(--colorBlack);
    background-color: var(--colorWhite);
}

h1, h2, h3 {
    color: var(--colorBlack);
    letter-spacing: 1px;
    line-height: 2rem;
}

h1 {
    font-weight:bolder;
    color: var(--colorRed);
}
h2 {
    letter-spacing: 3px;
}
p {
    display: inline;
    line-height: 1.3rem;
    text-align: left;
}
a, footer p {
    color: var(--colorBlack);
}

/*--- color ---*/
:root {
    --colorBlue: #02439D;
    --colorLightBlue: #90B1FE;
    --colorBlack: #1d1d1b;
    --colorWhite: #fffffb;
    --colorPurple: #41006A;
    --colorLightPurple: #FFA9F6;
    --colorRed: #F94554;
}

/*--- overzichtpagina van characters ---*/
body {
    box-shadow: var(--colorBlack) 0px 3px 8px;
    border-radius: 1rem;
    margin: 2rem;
    padding: 2rem;
}
.filter {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    padding-top: 2rem;
    justify-content: flex-start;
    border-bottom: var(--colorBlack) 1px solid;
}
.filter li {
    width: 15%;
    padding: 2rem;
}
main section article ul {
    display: flex;
    flex-direction:column;
    
}
main section article ul img {
    width: 75px;    
}
main section article ul li {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    padding: 2rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin: 0.5rem 0rem;
}
main section article ul li .name {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 15%;
   align-items: flex-start
}
main section article ul li a, .onMission, .center, .birthDate {
    width: 15%;
}

main section article ul li .abilities {
    display: flex;
    flex-direction: column;
    width: 15%;
}
main section article ul li .abilities p {
    background-color: var(--colorLightBlue);
    border-radius: 1rem;
    border: 1px solid var(--colorBlue);
    font-weight: bolder;
    opacity: 0.8;
    padding: 0.2rem;
    margin-right: 1rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
    box-shadow: var(--colorBlack) 0px 3px 8px;
}
main section article ul li .abilities p:nth-child(4) {
    background-color: var(--colorLightPurple);
    border: 1px solid var(--colorPurple);
    box-shadow: var(--colorBlack) 0px 3px 8px;
}

.center img {
    width: 3rem;
}

