/*--- algemeen ---*/
html, body {
    box-sizing: border-box;
    color: var(--colorBlack);
    background-color: var(--colorWhite);
}

h1, h2, h3 {
    color: var(--colorBlack);
    letter-spacing: 1px;
    line-height: 2rem;
}

h1 {
    font-weight:bolder;
    color: var(--colorRed);
}
h2 {
    letter-spacing: 3px;
}
p {
    display: inline;
    line-height: 1.3rem;
    text-align: left;
}
a, footer p {
    color: var(--colorBlack);
}

/*--- color ---*/
:root {
    --colorBlue: #02439D;
    --colorLightBlue: #90B1FE;
    --colorBlack: #1d1d1b;
    --colorWhite: #fffffb;
    --colorPurple: #41006A;
    --colorLightPurple: #FFA9F6;
    --colorRed: #F94554;
}

/*--- overzichtpagina van characters ---*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
    color: var(--colorBlack);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
th a {
    color: #ffffff;
    text-decoration: none;
}
table thead tr {
    background-color: var(--colorRed);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
table th,
table td {
    padding: 12px 15px;
}
table tbody tr {
    border-bottom: 1px solid #dddddd;
}
table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
table tbody tr:last-of-type {
    border-bottom: 2px solid var(--colorRed);
}
table tbody tr.active-row {
    font-weight: bold;
    color: var(--colorRed);
}
.name {
    display: flex;
    flex-direction: column;
    width: 121px;
    align-items: center;
 }
.abilities p {
    background-color: var(--colorLightBlue);
    border-radius: 1rem;
    border: 1px solid var(--colorBlue);
    font-weight: bolder;
    opacity: 0.8;
    padding: 0.2rem;
    margin-right: 1rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
    box-shadow: var(--colorBlack) 0px 3px 8px;
}
.abilities p:nth-child(4) {
    background-color: var(--colorLightPurple);
    border: 1px solid var(--colorPurple);
    box-shadow: var(--colorBlack) 0px 3px 8px;
}

.abilities {
    display: flex;
    flex-direction: column;
}

.role{
    display: flex;
    flex-direction: column;
    width: 52px;
    align-items: center;
}